<section class="facebookConnect" data-username="" data-posts="" data-key="">
    <div class="calloutHeader">
        <h2>SCC On Facebook</h2>
    </div>
    
		
	<div id="fbConnectFeed">
		<div class="itemTemplate item clearfix">
			<!-- Status or link text -->
			<div class="poster"></div>
			<div class="message"></div>
			
			<div class="attachment clearfix">
				
				<img class="attachmentImg"  />
				
				<div class="attachmentData">
					<div class="attachmentLink"><a></a></div>
					<div class="attachmentCaption"></div>
					<div class="attachmentDescription"></div>
				</div>
			</div>
			
			 <div class="meta">
				<div class="postdate"></div>
				<div class="comments"><a></a></div>
				<div class="likes"></div>
			</div>
			
		</div>
	</div>
</section>
