<section class="module span5 twitterConnect"  data-username="" data-tweets="" >

    <h2>L&amp;C on Twitter</h2>
    
	<!--<p id="twConnectHeader">
		@<span id="twConnectName"></span>
	</p>-->
	<div id="twConnectFeed">
		<div class="itemTemplate item clearfix">
            <div class="message"></div>
			<div class="postdate"></div>
		</div>
	</div>	
	<div id="twConnectAccount">
		Follow @<a id="twURL"></a> on <a href="http://twitter.com" class="twitterButton">Twitter</a>
	</div>
</section>