<div class="ytConnect" data-username="" data-videos="" data-key=""  >
	

	
	<div id="ytConnectStage">
		<h4 id="playerTitle"></h4>
		<div id="player"><iframe width="640" height="390" frameborder="0" title="YouTube video player" type="text/html" ></iframe></div>
	</div> 
	<div id="ytConnectFeed" class="clearfix">
		<div class="itemTemplate item clearfix">
			<h4 class="title"></h4>
			<div class="thumb">
				<img src=""  />
			</div>
			<div class="stats">Length: <span class="duration"></span></div>
			<div class="stats">Uploaded <span class="uploadDate"></span></div>
			<div class="stats views"></div>
		</div>
	</div>
</div>