.topnav {
  background-color: #fff; 
  &.navbar-dark {
    background-color: #333; 
    a { color:#fff;  }
  }
  ul {
    width: 100%;
  }
  ul, li { list-style: none; display: inline-block; margin:0; padding:0;}
  a { text-decoration: none; 
    color: #000;
    font-size: 0.8125rem; padding: 0 1.25rem; margin: .8125rem 0; 
    font-weight: 500; 
    line-height: 1; 
    display: inline-block;
  }
  li:last-child a { border-right:0;}
  li.pull-right { float:right;}
  li a.btn { padding: 0.625rem .625rem .625rem 1.25rem;     
    letter-spacing: .12em; font-weight: 800; 
    line-height: 1.3; 
    border-right:0;
    height: 100%; 
  }
} 