::-moz-selection { 
  color: #fff;
  background: #2d4685;
}
::selection {
  color: #fff;
  background: #2d4685;
}
kbd {
  font-size: .8rem;
  color: #fff;
  text-transform: none;
  background: #333;
  padding: 2px 4px; border-radius: 4px;
}
kbd.ouc {
  background: rgba(6, 134, 74, 0.9);
  color: #fff;
  font-family: Helvetica;
  padding: .5rem;
  z-index: 100;
} 
.mainContent {
  h3, h4, h5, h6 { margin-bottom: 1px;}
}

#search {
  button { float:right; padding: 5px;}
}

@media (max-width: 767px) {
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    clear:both;
  }
}

// .sr-only.show-on-focus {  
//   width: auto; 
//   height: 0;
//   transition: all ease-out .3s;
//   padding: .5rem;
//   color:$primary-dark;
//   border: 3px solid rgba(0, 61, 123, 0.7); 
//   background:#fff; 
//   position: absolute;
//   top: -5px;
//   left: 0;
// }
// .sr-only.show-on-focus:focus {
//   height: auto; 
//   clip: auto;
//   overflow: auto;
//   top:0;
//   clip-path: initial;
//   white-space: normal;
//   display: inline-block;
//   z-index: 1000;
// }

// @import "_style_accessibility.scss";  

@import "_style_topnav.scss"; 

// @import "_style_print.scss";
 
@import "css/ektron-stylesheet.css";
@import "css/ektronOverrides.css";
@import "css/bootstrap.css";
@import "css/bootstrap-responsive.css";
@import "css/client.css";
@import "css/client-responsive.css"; 