::-moz-selection { 
  color: #fff;
  background: #2d4685;
}
::selection {
  color: #fff;
  background: #2d4685;
}
kbd {
  font-size: .8rem;
  color: #fff;
  text-transform: none;
  background: #333;
  padding: 2px 4px; border-radius: 4px;
}
kbd.ouc {
  background: rgba(6, 134, 74, 0.9);
  color: #fff;
  font-family: Helvetica;
  padding: .5rem;
  z-index: 100;
} 
.mainContent {
  h3, h4, h5, h6 { margin-bottom: 1px;}
}

#search {
  button { float:right; padding: 5px;}
}

@media (max-width: 767px) {
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    clear:both;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
} 
.sr-only.show-on-focus {  
  width: auto; 
  height: 0;
  transition: all ease-out .3s;
  padding: .5rem; 
  position: absolute;
  top: -5px;
  left: 0;
  background: #546597 !important;
  color: #fff !important;   
}
.sr-only.show-on-focus:focus {
  height: auto; 
  clip: auto;
  overflow: auto;
  top:0;
  clip-path: initial;
  white-space: normal;
  display: inline-block;
  z-index: 1000;
}

header .header-banner { 
  padding-top: 20px; 
  #auxNav {
    margin-top: 20px;
    position: relative;
    top: 0;
    a:focus { color: #fff; }
  }
  .logo { padding-top: 0;
    padding-bottom: 10px;}
  #searchform { 
    float: right;
    margin-top: 10px;
    background: none;
    button { padding-top: 2px;}
  }
  .search { margin-top: 0; 
    float: none;
    background: #546597;    
  }
}
@media (min-width: 768px) {
  #auxNav ul { float: right}
  header .header-banner #searchform { margin-top: 30px; }
  .logo { margin-top: 20px; }
}
@media (min-width: 992px) {
  #searchform { width: 300px;}
}
@media (max-width: 767px) {
  #searchform { padding: 0 5%; float: none; width: 90%; }
  #mainNav li, #auxNav li {
    text-align: left;
  }
  #mainNav .navPage li.current li a { padding-left: 15px; }
  #auxNav {
    position: relative; top: auto; display: block;
  }
}
h1,h2,h3,h4,h5,h6 { clear:both; }
#contactForm input {
  height: auto;
}

// @import "_style_accessibility.scss";  

@import "_style_topnav.scss"; 

@import "_style_print.scss"; 
@import "css/ektron-stylesheet.css";
@import "css/ektronOverrides.css";
@import "css/bootstrap.css";
@import "css/bootstrap-responsive.css";
@import "css/client.css";
@import "css/client-responsive.css"; 
@import "_style_pagination.scss";
@import "_style_header-overrides.scss";
@import "_style_video.scss";